.card-school-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78% !important;
    margin-bottom: 20px;
}

.card-school-container .card-school{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    background-color: #212152;
    color: #d6efff;
    border-radius: 10px;
}

.card-school-container .card-school .card-school-title-container h4,h3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom:10px ;
}

.card-school-container .card-school .card-school-title-container h4{
    font-size: 15px;
    font-weight: 400;

}

.card-school-container .card-school .MuiCardActions-root {
    display: flex;
    align-self: flex-end;
    width: 100%;
}

.card-school-container .card-school .card-school-button-container {
    width: 100%;
}

.card-school-container .card-school .card-school-button-container .card-school-icon-button-delete,
.card-school-container .card-school .card-school-button-container .card-school-icon-button-edit {
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #d6efff;
    color: #212152;
    font-weight: bold;
    cursor: pointer;
}

.card-school-container .card-school .card-school-button-container .card-school-icon-button-delete:hover,
.card-school-container .card-school .card-school-button-container .card-school-icon-button-edit:hover {
    background-color: #bcd2fd;
    
}