.card-school-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78% !important;
    margin-bottom: 20px;
}

.card-school-container .card-school{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    background-color: #DADCF2;
    color: #000000;
    border-radius: 10px;
    border: none;
}

.card-school-container .card-school .card-school-title-container h4,h3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom:10px ;
}

.card-school-container .card-school .card-school-title-container h4{
    font-size: 15px;
    font-weight: 400;

}

.card-school-container .card-school .MuiCardActions-root {
    display: flex;
    align-self: flex-end;
    width: 100%;
}

.card-school-container .card-school .card-school-button-container {
    width: 100%;
}

.card-school-container .card-school .card-school-button-container .card-school-icon-button-delete,
.card-school-container .card-school .card-school-button-container .card-school-icon-button-edit {
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #F8F8FA;
    color: #C7EF00;
    font-weight: bold;
    cursor: pointer;
}

.card-school-container .card-school .card-school-button-container .card-school-icon-button-delete:hover,
.card-school-container .card-school .card-school-button-container .card-school-icon-button-edit:hover {
    background-color: #bcd2fd;
    
}

.card-school-title-university{
    text-align: start;
}