.student-jobs-page{
    margin-left: 250px;
}

.student-jobs-page .student-jobs-page-text{
    font-family: 'Montserrat',sans-serif;
    color: #C7EF00;
    margin-bottom: 30px;
    margin-left: 30px;
    align-self: flex-start;
}

.student-jobs-page .student-jobs-page-text .student-jobs-page-text-title{
    margin-top: 20px;
    font-size: 3em;
    font-weight: 700;
    text-align: start;
}

.student-jobs-page .student-jobs-page-text .student-jobs-page-text-subtitle{
    margin-top: 10px;
    font-size: 1.25em;
    color: #000;
    font-weight: 300;
    text-align: start;
}

.student-jobs-page .student-jobs-page-cards{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.student-jobs-page .student-jobs-page-cards .student-jobs-page-job-card{
    width: 31%;
}

.student-jobs-page .student-jobs-page-render-buttons{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.student-jobs-page .student-jobs-page-render-buttons .student-jobs-render-buttons-explore,
.student-jobs-page .student-jobs-page-render-buttons .student-jobs-render-buttons-applied,
.student-jobs-page .student-jobs-page-render-buttons .student-jobs-render-buttons-saved{
    color: #d8d8df;
    padding: 0px 10px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 1.6em;
}

.student-jobs-page .student-jobs-page-render-buttons .active{
    color: #7f27ff;
    border-bottom: 5px solid #7f27ff;
    margin-right: 10px;
}

/*filters*/
/*filters css*/
.student-jobs-page .student-jobs-page-filter-search-container{
    margin-left: 30px;
    margin-bottom: 10px;
    width: 94%;
}

.student-jobs-page .student-jobs-page-filter-search-container {
    display: flex;
    border-radius: 5px;
    background-color: #F8F8FA;
    border-radius: 10px;
}

.student-jobs-page .student-jobs-page-filters{
    display: flex;
    width: 95%;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
}

.student-jobs-page .student-jobs-page-filters .student-jobs-page-filter-location-container, 
.student-jobs-page .student-jobs-page-filters .student-jobs-page-filter-job-type-container,
.student-jobs-page .student-jobs-page-filters .student-jobs-page-filter-job-regime-container,
.student-jobs-page .student-jobs-page-filters .student-jobs-page-filter-salary-container{
    display: flex;
    width: 22%;
    background-color: #F8F8FA;
    border-radius: 10px;
    margin-left: 10px;
}
.student-jobs-page .student-jobs-page-filters #student-jobs-page-filter-search{
    display: flex;
}

.student-jobs-page .student-jobs-page-filters  #student-jobs-page-filter-job-type,
.student-jobs-page .student-jobs-page-filters #student-jobs-page-filter-job-regime,
.student-jobs-page .student-jobs-page-filters #student-jobs-page-filter-location,
.student-jobs-page .student-jobs-page-filters #student-jobs-page-filter-salary
{
    display: flex;
    border-radius: 5px;
    background-color: #F8F8FA; 
    width: 100%;
}

.MuiSlider-thumb:focus,
.MuiSlider-thumb:hover,
.MuiSlider-thumb.Mui-active,
.MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none;
}

.student-jobs-page .student-jobs-page-filters .student-jobs-page-button-search{
    background-color: #c7ef00; 
    color: black;
    padding: 0px 10px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    border-radius: 5px;
    margin-left: 10px;
}

.student-jobs-page .student-jobs-page-filters .student-jobs-page-button-search:hover{
    background-color: #ae85ff;
    color: #fff;
}