.recruiter-about-candidate-drawer {
   
    padding: 20px;
    border-radius: 10px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
}

.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 40px;
    margin-right: 40px;
}

.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-name {
    font-size: 2.5em;
    font-weight: 700;
    color: #7f27ff;
}

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-contact-info {
    display: flex;
    align-items: center;
}

.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-container-location{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    margin-top: 5px;
    font-weight: 400;
}

.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-contact-info .recruiter-about-candidate-drawer-container-email,
.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-contact-info .recruiter-about-candidate-drawer-container-telephone{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    background-color: #dadcf2;
    border-radius: 5px;
    padding: 7px;
    margin-top: 10px;
    font-size: 1.2em;
    justify-content: space-between;
}

.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-download-cv{
    align-items: center;
    margin-right: 10px;
    border: 2px solid #c7ef00;
    color:#000;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 3px 10px;
    margin-top: 10px;
    width: 200px;
}

.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-download-cv:hover{
    background-color: #c7ef00;
}

.recruiter-about-candidate-drawer  .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-contact-info .recruiter-about-candidate-drawer-download-cv:hover{
    background-color: #7f27ff;
    color: #fff;
}

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-about-title{
    font-size: 1.5em;
    font-weight: 700;
    color: #ae85ff;
    margin-top: 10px;
}

/*education*/
.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-education-container .recruiter-about-candidate-drawer-education-info-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
} 

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-education-container
.recruiter-about-candidate-drawer-education-info-container .recruiter-about-candidate-drawer-education-info-container-title{
    font-size: 1.2em;
    font-weight: 700;
    margin: 5px 0px;
}

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-education-container
.recruiter-about-candidate-drawer-education-info-container .recruiter-about-candidate-drawer-education-info-container-details{
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-education-container
.recruiter-about-candidate-drawer-education-info-container .recruiter-about-candidate-drawer-education-info-container-details p{
    background-color: #F8F8FA;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}

/*experience*/
.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-experience-container .recruiter-about-candidate-drawer-experience-info-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
} 

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-experience-container
.recruiter-about-candidate-drawer-experience-info-container .recruiter-about-candidate-drawer-experience-info-container-title{
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 5px;
}

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-experience-container
.recruiter-about-candidate-drawer-experience-info-container .recruiter-about-candidate-drawer-experience-info-container-companyName{
    font-size: 1.1em;
    font-weight: 600;
    margin: 5px 0px;
}

/*Language*/
.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-language-container .recruiter-about-candidate-drawer-language-info-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
} 

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-language-container
.recruiter-about-candidate-drawer-language-info-container .recruiter-about-candidate-drawer-language-info-container-title{
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 5px;
}

.recruiter-about-candidate-drawer .recruiter-about-candidate-drawer-container .recruiter-about-candidate-drawer-language-container
.recruiter-about-candidate-drawer-language-info-container .recruiter-about-candidate-drawer-language-info-container-proficiency{
    font-size: 1em;
    font-weight: 400;
    margin: 5px 0px;
}


